* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: auto;
}

.header-logo{
    padding: 35px 0;
}

.header-nav ul {
  list-style: none;
  display: flex;
}

.header-nav li {
  margin-right: 40px;
}

.container .header-nav__li {
  margin-right: 0;
}

.header-nav a {
  text-decoration: none;
}

.header-nav__span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #888492;
}

.header-nav__span:hover {
  font-weight: 700;
  color: #1f1534;
}

.information-info__h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: black;
  margin-bottom: 0.9em;
}

.information-info__p {
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 3.2rem;
  color: #7d7987;
  margin-bottom: 1em;
}

.information-info__a {
  padding: 17px 40px;
  background-color: #458ff6;
  border-radius: 55px;
  text-decoration: none;
}

.information-info__span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 6rem;
  color: #fff;
}

.information-image img {
  width: 690px;
}

.services .container {
  display: flex;
  flex-direction: column;
}

.services-info {
  text-align: center;
}

.services-info h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.6rem;
  color: #000;
  padding-top: 12.5rem;
}

.services-info p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #7d7987;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.services-card {
  width: auto;
  padding-left: 3.7rem;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.card-distance {
  margin-right: 34px;
}

.services-card img {
  padding-top: 3rem;
}

.services-card h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 5.6rem;
  color: #000;
}

.service-card__p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #7d7987;
}

.services-button__a {
  padding: 17px 51px;
  text-decoration: none;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
}

.services-button__span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 6rem;
  color: #458ff6;
}

.movile {
  margin-top: 15rem;
}

.movile-up {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.movile-up-reverse {
  flex-direction: row-reverse;
}

.movile-up__img {
  width: 650px;
}

.movile-up-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movile-up-info__h3 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: #000;
}

.movile-up-info__p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #7d7987;
}

.movile-up-info__a {
  text-decoration: none;
  width: 45px;
}

.movile-up-info__span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 6rem;
  color: #458ff6;
  padding: 15px 45px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  height: 425px;
  margin-top: 20rem;
  color: #fff;
}

.testimonial h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.8rem;
  padding-top: 6.4rem;
}

.testimonial-card {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8.9rem;
}

.testimonial-card__img {
  border-radius: 50%;
}

.testimonial-card__data {
  padding-right: 250px;
  font-weight: 700;
  font-size: 22px;
  line-height: 2.8rem;
}

.testimonial-card__data small {
  font-weight: 300;
  font-size: 1.8rem;
}

.testimonial-card__words {
  padding-right: 50px;
  font-weight: 400;
  font-size: 1.9rem;
}

.article .container {
  display: flex;
  flex-direction: column;
}

.article__h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.6rem;
  padding: 12.5rem 0;
}

.article-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 72px;
}

.article-card {
  height: 512px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.article-card__img {
  height: 50%;
  width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article-card__h4 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.1rem;
  padding-left: 30px;
  padding-top: 2.1rem;
}

.article-card__p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7rem;
  padding: 1.2rem 0 2.5rem 30px;
}

.article-card__a {
  text-decoration: none;
}

.article-card__span {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #458ff6;
  padding-left: 30px;
}

.article-button {
  text-decoration: none;
}

.article-button__span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 6rem;
  color: #458ff6;
  padding: 15px 45px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
}

footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);    
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding-top: 118px;
    height: 300px;
}

footer .container{
    width: 100%;
}

.footer-company,
.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.footer-company img{
    height: 41px;
    width: 160px;
}



.footer-list ul{
    list-style:none ;
}

.footer-list li{
    margin-bottom: 20px;
}